@media screen and (max-width:768px){
    .main{
      display: flex;
      flex-direction: column;
    }
    .phone{
        width: 70%;
        margin: auto;
        /* height: 100%; */
    }
    .simple{
        width: 70%;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        
    }
    .design{
        position: absolute;
        top: 0;
        right: 300px;
        width: 45%;
        border-radius: 0 0 500px 0;
    }
    .light{
        width: 60%;
        position: relative;
        bottom: 350px;
        left: 200px;
        height: 500px;
        z-index: 0;
        margin-bottom: -400px;
    }
}